---
Checks: 'bugprone-*,-bugprone-easily-swappable-parameters,cert-*,clang-analyzer-*,cppcoreguidelines-*,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-prefer-member-initializer,-cppcoreguidelines-pro-type-member-init,-cppcoreguidelines-pro-bounds-constant-array-index,misc-*,-misc-no-recursion,-misc-non-private-member-variables-in-classes,modernize-*,-modernize-use-auto,-modernize-use-trailing-return-type,-modernize-use-default-member-init,performance-*,portability-*,readability-*,-readability-magic-numbers,-readability-else-after-return,-readability-identifier-length'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: file
CheckOptions:
  - key:    readability-identifier-naming.ClassCase
    value:    CamelCase
  - key:    readability-identifier-naming.ClassMemberCase
    value:    lower_case
  - key:    readability-identifier-naming.ClassMethodCase
    value:    camelBack
  - key:    readability-identifier-naming.EnumCase
    value:    CamelCase
  - key:    readability-identifier-naming.FunctionCase
    value:    camelBack
  - key:    readability-identifier-naming.LocalVariableCase
    value:    lower_case
  - key:    readability-identifier-naming.MemberCase
    value:    lower_case
  - key:    readability-identifier-naming.MethodCase
    value:    camelBack
  - key:    readability-identifier-naming.NamespaceCase
    value:    lower_case
  - key:    readability-identifier-naming.ParameterCase
    value:    lower_case
  - key:    cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value:    1
...
